
$game-height : min(60vh, 25vw);
$game-offsetTop:  calc( 50vh - ( #{$game-height} / 2 ));
$graveyard-height: calc(#{$game-height} / 4);
$splitscreen-games-container-width : calc(min(120vh, 50vw) + 100px);
$splitescreen-games-container-offsetLeft:  calc(50vw - (#{$splitscreen-games-container-width} / 2));

$mobile-game-height: min(60vh, 85vw);
$mobile-game-offsetTop: calc(50vh - (#{$mobile-game-height} / 2));
$mobile-game-offsetLeft: calc(50vw - ( #{$mobile-game-height} / 2));


.splitscreen-games-container{
    position: relative;
    top: $game-offsetTop;
    width: $splitscreen-games-container-width ;
    height: $game-height;
    left: $splitescreen-games-container-offsetLeft;
    justify-content: space-between;
    display: flex;
    flex-direction: row;

    .splitscreen-game-container{
        width: $game-height;
        height: $game-height;
    }
}

.splitscreen-graveyards-container{
    position: absolute;
    width: calc(min(120vh, 50vw) + 100px);
    height: $graveyard-height;
    top: calc(50vh + (#{$game-height} / 2) + 10px );
    left: calc(50% - (min(120vh, 50vw) + 100px) / 2);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .graveyard-container{
        width:calc(min(120vh, 50vw) / 2);
        height: calc(min(60vh, 25vw) / 4);
    }
}




@media screen and (max-width: 1000px){

    .mobile-offline-game-container{
        position: absolute;
        width: $mobile-game-height;
        height: $mobile-game-height;
        top: $mobile-game-offsetTop;
        left: $mobile-game-offsetLeft;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    
    }

    .mobile-offline-graveyard-container-second{
        position: absolute;
        width: min(60vh,85vw);
        height: calc(min(60vh, 85vw) / 4);
        top: calc(50vh + ( min(60vh, 85vw) / 2));
        left: calc(50vw - ( min(60vh, 85vw) / 2));
        
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .mobile-offline-graveyard-container-first{
        position: absolute;
        width: min(60vh,85vw);
        height: calc(min(60vh, 85vw) / 4);
        top: calc(50vh - ( min(60vh, 85vw) / 2) - (min(60vh, 85vw) / 4));
        left: calc(50vw - ( min(60vh, 85vw) / 2));
        display: flex;
        flex-direction: row;
        justify-content: center;
        transform: rotateZ(180deg)
    }   
}